@font-face {
  font-family: 'icomoon';
  src: url('/public/fonts/icomoon/icomoon.eot');
  src: url('/public/fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
    url('/public/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('/public/fonts/icomoon/icomoon.woff') format('woff'),
    url('/public/fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: '\e900';
}
.icon-pencil2:before {
  content: '\e906';
}
.icon-image:before {
  content: '\e90d';
}
.icon-connection:before {
  content: '\e91b';
}
.icon-mic:before {
  content: '\e91e';
}
.icon-files-empty:before {
  content: '\e925';
}
.icon-stack:before {
  content: '\e92e';
}
.icon-location:before {
  content: '\e947';
}
.icon-alarm:before {
  content: '\e950';
}
.icon-calendar:before {
  content: '\e953';
}
.icon-database:before {
  content: '\e964';
}
.icon-bubbles4:before {
  content: '\e970';
}
.icon-user:before {
  content: '\e971';
}
.icon-users:before {
  content: '\e972';
}
.icon-user-plus:before {
  content: '\e973';
}
.icon-user-minus:before {
  content: '\e974';
}
.icon-user-check:before {
  content: '\e975';
}
.icon-user-tie:before {
  content: '\e976';
}
.icon-spinner:before {
  content: '\e97a';
}
.icon-spinner9:before {
  content: '\e982';
}
.icon-lock:before {
  content: '\e98f';
}
.icon-unlocked:before {
  content: '\e990';
}
.icon-equalizer:before {
  content: '\e992';
}
.icon-equalizer2:before {
  content: '\e993';
}
.icon-cog:before {
  content: '\e994';
}
.icon-stats-dots:before {
  content: '\e99b';
}
.icon-fire:before {
  content: '\e9a9';
}
.icon-bin:before {
  content: '\e9ac';
}
.icon-clipboard:before {
  content: '\e9b8';
}
.icon-earth:before {
  content: '\e9ca';
}
.icon-link:before {
  content: '\e9cb';
}
.icon-warning:before {
  content: '\ea07';
}
.icon-notification:before {
  content: '\ea08';
}
.icon-plus:before {
  content: '\ea0a';
}
.icon-minus:before {
  content: '\ea0b';
}
.icon-info:before {
  content: '\ea0c';
}
.icon-cancel-circle:before {
  content: '\ea0d';
}
.icon-blocked:before {
  content: '\ea0e';
}
.icon-cross:before {
  content: '\ea0f';
}
.icon-checkmark:before {
  content: '\ea10';
}
.icon-play2:before {
  content: '\ea15';
}
.icon-play3:before {
  content: '\ea1c';
}
.icon-pause2:before {
  content: '\ea1d';
}
.icon-stop2:before {
  content: '\ea1e';
}
.icon-backward2:before {
  content: '\ea1f';
}
.icon-forward3:before {
  content: '\ea20';
}
.icon-loop2:before {
  content: '\ea2e';
}
.icon-arrow-up2:before {
  content: '\ea3a';
}
.icon-arrow-right2:before {
  content: '\ea3c';
}
.icon-arrow-down2:before {
  content: '\ea3e';
}
.icon-arrow-left2:before {
  content: '\ea40';
}
.icon-circle-up:before {
  content: '\ea41';
}
.icon-circle-right:before {
  content: '\ea42';
}
.icon-circle-down:before {
  content: '\ea43';
}
.icon-circle-left:before {
  content: '\ea44';
}
.icon-sort-alpha-asc:before {
  content: '\ea48';
}
.icon-sort-numeric-asc:before {
  content: '\ea4a';
}
.icon-embed2:before {
  content: '\ea80';
}
.icon-share2:before {
  content: '\ea82';
}
