@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}

@layer components {
  @import './icomoon';
  @import './animation';
  @import './rc_tooltip';
  @import './rt_datepicker';
  @import './transition';

  /* Hide scrollbar */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Chrome */
  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  /* Safari */
  .hide-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    @apply w-0;
    @apply h-0;
  }
}

