@import './icomoon' layer(components);
@import './animation' layer(components);
@import './rc_tooltip' layer(components);
@import './rt_datepicker' layer(components);
@import './transition' layer(components);

@import 'tailwindcss';

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}

@layer components {
  /* Hide scrollbar */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Chrome */
  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  /* Safari */
  .hide-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    @apply w-0;
    @apply h-0;
  }
}

