@import './icomoon';
@import './animation';
@import './rc_tooltip';
@import './rt_datepicker';
@import './transition';
@import './material';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  input {
    outline: none;
  }

  input[type='checkbox'] {
    background-color: white;
    transition: background-color 150ms ease-in-out;
  }

  input[type='checkbox']::before {
    display: inline-block;
    font-family: 'Icomoon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\ea10';
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 3px;
    top: 4px;
    transform: scale(0);
    transition: 150ms transform ease-in-out;
  }

  input[type='radio'] {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type='radio']::before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 150ms transform ease-in-out;
    background: black;
  }

  input[type='radio']:checked::before {
    transform: scale(1);
  }
  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-size: 30px;
    line-height: 41px;
  }

  h2 {
    font-size: 24px;
    line-height: 33px;
  }

  h3 {
    font-size: 18px;
    line-height: 25px;
  }

  h4 {
    font-size: 16px;
    line-height: 22px;
  }

  h5 {
    font-size: 14px;
    line-height: 19px;
  }
}

@layer components {
  /* Hide scrollbar */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Chrome */
  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  /* Safari */
  .hide-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    @apply w-0;
    @apply h-0;
  }
}
